#interest {
  background-color: #CAE8FD;
  padding-bottom: 30px;
}

.interest-title {
  color: #14213D;
  font-weight: 800;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 2;
}

.highlighted-1 {
  /*box-shadow: inset 0px -9px 0px rgb(200,200,200);*/
  -webkit-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 600;
  color: #14213D;
}


.highlighted-2 {
  /*box-shadow: inset 0px -9px 0px rgb(200,200,200);*/
  -webkit-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 600;
  color: #14213D;
}

.highlighted-3 {
  /*box-shadow: inset 0px -9px 0px rgb(200,200,200);*/
  -webkit-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 600;
  color: #14213D;
}
