#portfolio {
  padding-bottom: 30px;
}

.portfolio-title {
  color: #14213D;
  font-weight: 800;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 2;
}

#card-container {
    width: 100%;
    margin: 5rem 0;
    display: block;
    box-sizing: border-box;
}

.project-card {
    width: 100%;
    margin: 5rem auto;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
    color: #14213D;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    transition: all .5s ease;
}

.project-card:hover {
    box-shadow: 0 5px 5px rgba(252,163,17,0.5), 0 5px 5px rgba(252,163,17,0.5);
}

.project-card--left {
    padding: 1rem;
    background-color: #CAE8FD;
    min-width: 40%;
    min-height: 100%;
    flex-wrap: wrap;
    border-radius: 5px 0 0 5px;
}

.project-card--left li {
    margin: 0.5rem 0;
    padding: 0px;
    display: list-item;
    list-style-type: disc;
    text-align: -webkit-match-parent;
}

.project-header {
  color: #FCA311;
  text-shadow: 1px #14213D;
  text-decoration-line: underline;
}

.project-card--right {
    border-radius: 0 5px 0 0;
    position: relative;
}

.image_project_card {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0px 5px 5px 0px;
    vertical-align: middle;
    border-style: none;
}

.project-card--right--cta {
    width: 100%;
    /*z-index: 100;*/
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-project {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.website-project {
    height: 4rem;
    width: 8rem;
    border-radius: 40rem;
}

.github-project, .website-project {
    margin: 0 1rem;
    font-size: 1rem;
    color: #FFFFFF;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.2);
    background-color: #FCA311;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease;
}

.github-project:hover, .website-project:hover {
  color: #CAE8FD;
}


@media only screen and (max-width: 768px) {
  #project-content {
    border-radius: 5px 5px 0px 0px;
    float: none;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 768px) {
  .project-card {
    border-radius: 5px 5px 0px 0px;
    float: none;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 768px) {
  .project-header {
  text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .project-card--right {
    border-radius: 5px 5px 0px 0px;
    float: none;
  }
}

@media only screen and (max-width: 768px) {
  #project-content {
    border-radius: 5px 5px 0px 0px;
    float: none;
  }
}

@media only screen and (max-width: 768px) {
  .project-card .project-card--right img {
    border-radius: 5px 5px 0px 0px;
    float: none;
  }
}

